* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: sans-serif;
    background-color: #fafafa;
  }

  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    }
    
    .contact-info {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
    }
    
    .contact-info p {
    margin-right: 10px;
    font-weight: bold;
    font-size: 18px;
    }
    
    .contact-info a {
    margin-right: 10px;
    color: #fff;
 
    }
    
    .contact-info a i {
    font-size: 24px;
    }
    
    .fa-instagram {
    background-color: #333; /* Cambia el color de fondo a tu gusto */
    border-radius: 50%; /* Agrega un borde redondeado */
    padding: 10px; /* Agrega un espacio alrededor del icono */
    color: #fff;
    }
    
    .fa-envelope {
    color: #fff;
    background-color: #333; /* Cambia el color de fondo a tu gusto */
    border-radius: 50%; /* Agrega un borde redondeado */
    padding: 10px; /* Agrega un espacio alrededor del icono */
    }
  
  h1 {
    margin: 0;
    padding: 20px 0;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 40px;
  }
  
  .column-gallery {
    display: flex;
    justify-content: center;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
  }
  
  img {
    margin-bottom: 20px;
    width: 300px;
    height: 300px;
    object-fit: cover;
    transition: transform 0.3s;
  }
  
  ul {
    list-style: none;
  }
  .img-wrapper {
    position: relative;
  }
  
  .img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease;
  }
  
  .img-text {
    color: #fff;
    font-size: 15px;
    text-align: left;
    line-height: 1.5;
    padding: 20px;
  }
  
  .img-wrapper:hover .img-overlay {
    opacity: 1;
  }
  img:hover {
    transform: scale(1.05);
  }

    /* Estilos específicos para el footer */

  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }

    /* Estilos específicos para dispositivos móviles */
    @media screen and (max-width: 480px) {
        .column-gallery {
        flex-direction: column;
        align-items: center;
        }
    
        .column {
        margin: 0;
        }
    }