/* Estilos generales */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1, h2, h3 {
    font-weight: normal;
  }
  
  header, section, footer {
    margin: 0 auto;
    max-width: 100%;
    padding: 20px;
  }
  
  section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  article {
    border: 1px solid #ddd;
    padding: 10px;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  a {
    color: #333;
    display: block;
    margin-top: 10px;
    text-align: right;
  }
  
  a:hover {
    color: #555;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  /* Estilos específicos para el header */
  
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
  }
  
  h1 {
    margin: 0;
    padding: 20px 0;
  }
  
  /* Estilos específicos para los artículos */
  
  h3 {
    margin: 10px 0;
  }
  
  p {
    margin: 10px 0;
  }
  

/* Estilos específicos para dispositivos móviles */
@media screen and (max-width: 768px) {
    header, section, footer {
      padding: 10px;
    }
    
    h1 {
      font-size: 24px;
      padding: 10px 0;
    }
    
    section {
      grid-template-columns: 1fr;
      gap: 10px;
    }
    
    article {
      border: none;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
      margin-bottom: 10px;
      padding: 0;
    }
    
    img {
      margin-bottom: 10px;
    }
    
    a {
      margin-top: 5px;
    }
  }